/* Circular Content Carousel Style */

#map-canvas {

        height: 20%;
		width: 23%;
        margin: 0px;
        padding: 0px;
      }
	  
.container{
	position: fixed;
	margin: -30px 0px -184px 835px;
	width: 421px;
}

#container_background{
	position: fixed;
	margin: -46px 0px -184px 832px;
	background-color: rgb(45, 107, 218);
	border-radius: 10px;
	opacity: 0.7;
	z-index: -1;
	height: 50px;
	width: 322px;
	visibility: hidden;
}

#container_background2{
	position: fixed;
	margin: -100px 0px -184px 832px;
	background-color: rgb(45, 107, 218);
	border-radius: 10px;
	opacity: 0.7;
	z-index: -1;
	height: 50px;
	width: 322px;
	visibility: hidden;
}

#ca-container{
	position:fixed;
	margin:-16px 430px -114px -357px;
	width:395px;
	height:193px;
	padding:0px;
	opacity: 1;
	visibility: hidden;
}
#ca-container2{
	position:fixed;
	margin:-16px 430px -114px -357px;
	width:395px;
	height:193px;
	padding:0px;
	opacity: 1;
	visibility: hidden;
}

#ca-container3{
	position:fixed;
	margin:-16px 430px -114px -357px;
	width:395px;
	height:193px;
	padding:0px;
	opacity: 1;
	visibility: hidden;
}

#ca-container4{
	position:fixed;
	margin:-16px 430px -114px -357px;
	width:395px;
	height:193px;
	padding:0px;
	opacity: 1;
	visibility: hidden;
}

#ca-container5{
	position:fixed;
	margin:-16px 430px -114px -357px;
	width:395px;
	height:193px;
	padding:0px;
	opacity: 1;
	visibility: hidden;
}

#ca-container6{
	position:fixed;
	margin:-16px 430px -114px -357px;
	width:395px;
	height:193px;
	padding:0px;
	opacity: 1;
	visibility: hidden;
}
.ca-wrapper{
	width:68%;
	height:34%;
	position:absolute;
	margin:5px 0px 0px 379px;
	text-align: center;
	vertical-align: center;
	
}

.ca-item{
	width:90px;
	height:67%;
	float:left;
	color: black;
font-weight:bold;
text-decoration: none;
}

.ca-item-main{
	height: 100%;
	overflow:hidden;
	-moz-box-shadow:1px 1px 2px rgba(0,0,0,0.2);
	-webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.2);
	box-shadow:1px 1px 2px rgba(0,0,0,0.2);
}

#ca-item-4{
top:8px;
}

#ca-item-5{
top:8px;
}

#ca-item-6{
top:8px;
}

.ca-nav span{
	width:25px;
	height:36px;
	background:transparent url(../images/arrows.png) no-repeat top left;
	position:absolute;
	margin: 7px -240px -4px 355px;
	text-indent:-9000px;
	opacity:0.7;
	cursor:pointer;
	z-index:100;
}
.ca-nav span.ca-nav-next{
	background-position:top right;
	left:auto;
	right:-40px;
}
.ca-nav span:hover{
	opacity:1.0;
}

.round-button {
    display:block;
	position:absolute;
    width:45px;
    height:45px;
    line-height:50px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#f5f5f5;
    text-align:center;
    text-decoration:none;
    background-color: #1874cd;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#4f9eea), to(#1874cd));
	background-image: -webkit-linear-gradient(top, #4f9eea, #1874cd);
	background-image: -moz-linear-gradient(top, #4f9eea, #1874cd);
	background-image: -ms-linear-gradient(top, #4f9eea, #1874cd);
	background-image: -o-linear-gradient(top, #4f9eea, #1874cd);
	background-image: linear-gradient(top, #4f9eea, #1874cd);
    box-shadow: 0 0 3px gray;
    font-size:20px;
    font-weight:bold;
	z-index: -1;
	cursor:pointer;
	visibility:hidden;
}

.round-button:hover {
    border: 2px solid gray;
}

.round-button-ok span {
    display:block;
	position:absolute;
    width:45px;
    height:45px;
    line-height:50px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#f5f5f5;
    text-align:center;
    text-decoration:none;
    background-color: #1874cd;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#4f9eea), to(#1874cd));
	background-image: -webkit-linear-gradient(top, #4f9eea, #1874cd);
	background-image: -moz-linear-gradient(top, #4f9eea, #1874cd);
	background-image: -ms-linear-gradient(top, #4f9eea, #1874cd);
	background-image: -o-linear-gradient(top, #4f9eea, #1874cd);
	background-image: linear-gradient(top, #4f9eea, #1874cd);
    box-shadow: 0 0 3px gray;
    font-size:20px;
    font-weight:bold;
	z-index: -1;
	cursor:pointer;
}

.round-button:hover {
    border: 2px solid gray;
}

.nav-button span{
    display:block;
	position:absolute;
	margin: 312px 0px 0px 75px;
    width:45px;
    height:45px;
    line-height:50px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#f5f5f5;
    text-align:center;
    text-decoration:none;
    background-color: #1874cd;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#4f9eea), to(#1874cd));
	background-image: -webkit-linear-gradient(top, #4f9eea, #1874cd);
	background-image: -moz-linear-gradient(top, #4f9eea, #1874cd);
	background-image: -ms-linear-gradient(top, #4f9eea, #1874cd);
	background-image: -o-linear-gradient(top, #4f9eea, #1874cd);
	background-image: linear-gradient(top, #4f9eea, #1874cd);
    box-shadow: 0 0 3px gray;
    font-size:20px;
    font-weight:bold;
	cursor:pointer;
}

.nav-button span:hover{
	border: 2px solid gray;
}

.nav-button span.round-button-next{
	background-position:top right;
	left:auto;
	right:73px;
}

#callPolice{
	position: fixed;
	margin: -50px 0px -184px 886px;
	z-index: 1;
	font-size:14px;
	display: none;
	text-align: center;
	font-family: sans-serif;
}

#callTrailer{
	position: fixed;
	margin: -50px 0px -184px 876px;
	z-index: 1;
	font-size:14px;
	display: none;
	text-align: center;
	font-family: sans-serif;;
}

#callAssistance{
	position: fixed;
	margin: -50px 0px -184px 864px;
	z-index: 1;
	font-size:14px;
	display: none;
	text-align: center;
	font-family: sans-serif;
}

#callAmbulance{
	position: fixed;
	margin: -50px 0px -184px 862px;
	z-index: 1;
	font-size:14px;
	display: none;
	text-align: center;
	font-family: sans-serif;
}

#getLocal{
	position: fixed;
	margin: -50px 0px -184px 864px;
	z-index: 1;
	font-size:14px;
	display: none;
	text-align: center;
	font-family: sans-serif;
}

#safeWarning{
	position: fixed;
	margin: -100px 0px -184px 838px;
	z-index: 1;
	font-size:12px;
	display: none;
	text-align: center;
	font-family: sans-serif;
}


#speedometer {
  width: 100px;
  height: 100px;
  border-radius: 67px;
  position:absolute;
  margin: -59px 0px 0px 275px;
  background-color: aliceblue;
}

#fuelLevel{
	margin: -95px 0px 0px 255px;
	position: absolute;
	opacity:0.8;
}

#fullGas{
	margin: -102px 0px 0px 294px;
	position: absolute;
	opacity:0.8;
}

#lights{
	margin: -153px 0px 0px 243px;
	position: absolute;
	opacity:0.8;
}

#clock{
	margin: -258px 0px 0px -870px;
	display: inline-block;
	color: rgb(18,224,42);
	text-align: center;
	width: 128px;
	position: absolute;
}

#warning{
	margin: -5px 0px 0px 365px;
	position: absolute;
	opacity:0.5;
	visibility: visible;
}

@keyframes blink {  
    0% { opacity: 0.5; }
    100% { opacity: 1.0; }
}
@-webkit-keyframes blink {
    0% { opacity: 0.5; }
    100% { opacity: 1.0; }
}
.blink {
    -webkit-animation: blink 0.5s linear infinite;
    -moz-animation: blink 0.5s linear infinite;
    -ms-animation: blink 0.5s linear infinite;
    -o-animation: blink 0.5s linear infinite;
    animation: blink 0.5s linear infinite;
} 


#selectedbox{
	border: 5px solid #1E90FF;
	position: absolute;
	height: 50px;
	width: 100px;
}

.selectedBox {
    border: 2px solid transparent; 
    border-radius:15px;
    -webkit-transition: border 0.5s linear, box-shadow 0.5s linear;
    -moz-transition: border 0.5s linear, box-shadow 0.5s linear;
    transition: border 0.5s linear, box-shadow 0.5s linear;
    width: 88px;
	height: 48px;
	position: absolute;
	visibility: hidden;
}

.selectedBox.active {
    border-color: blue;
    -webkit-box-shadow: 0 0 5px blue;
       -moz-box-shadow: 0 0 5px blue;
            box-shadow: 0 0 5px blue;
}
.selectedBox.ani{
-webkit-transform: translateX(-50px);
  transform: translateX(-50px);
    -webkit-transition: all .6s;
	transition: transform .6s;
}
